.header {
  margin-bottom: 80px;
  padding-top: 56px;
  &-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-dots {
    transform: translateX(16%);
    top: 141px;
  }
  &-overlay {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
  }
  &__input:checked ~ &-overlay {
    display: block;
  }
  &__input:checked ~ .menu {
    transform: translateX(0%);
  }
  // &-list {
  //   display: inline-block;
  //   padding: 0 20px;
  //   transition: all 0.3s linear;
  //   color: inherit;
  // }
  // &-link {
  //   color: inherit;
  //   transition: all 0.2s linear;
  //   &:hover {
  //     color: $black;
  //   }
  // }
}
